<div class="col-md-12">
  <h1>Potwierdzenie zamówienia</h1>
</div>
<div class="col-md-6">
  <form name="form" novalidate>
    <div class="form-group">
      <label for="name">Imię:</label>
      <input type="text" class="form-control" ng-model="vm.order.name" id="formName" name="name" required="">
    </div>
    <div class="form-group">
      <label for="surname">Nazwisko:</label>
      <input type="text" class="form-control" id="surname">
    </div>
    <div class="form-group">
      <label for="email">Adres email:</label>
      <input type="email" class="form-control" id="email">
    </div>
    <div class="form-group" ng-class="{'has-error' : (form.$submitted || form.phoneNumber.$touched) && form.phoneNumber.$error.required }">
      <label for="telephone">Telefon:</label>
      <input type="text" ng-model="vm.order.phoneNumber" class="form-control" id="telephone" name="phoneNumber" required>
      <div ng-show="form.$submitted || form.phoneNumber.$touched">
        <label ng-show="form.phoneNumber.$error.required" class="control-label" for="telephone">Numer telefonu jest wymagany.</label>
      </div>
    </div>
    <div class="form-group" ng-class="{'has-error' : (form.$submitted || form.city.$touched) && form.city.$error.required }">
      <label for="city">Miejscowość:</label>
      <input type="text" id="city" class="form-control" name="city" ng-model="vm.order.city" required>
      <div ng-show="form.$submitted || form.city.$touched">
        <label ng-show="form.city.$error.required" class="control-label" for="city">Miejscowość jest wymagana.</label>
      </div>
    </div>
    <div class="form-group" ng-class="{'has-error' : (form.$submitted || form.street.$touched) && form.street.$error.required }">
      <label for="street">Ulica:</label>
      <input type="text" id="street" class="form-control" name="street" ng-model="vm.order.street" required>
      <div ng-show="form.$submitted || form.street.$touched">
        <label ng-show="form.street.$error.required" class="control-label" for="street">Ulica jest wymagana.</label>
      </div>
    </div>
    <div class="form-group" ng-class="{'has-error' : (form.$submitted || form.houseNumber.$touched) && form.houseNumber.$error.required }">
      <label for="houseNumber">Numer domu:</label>
      <input type="number" id="houseNumber" class="form-control" name="houseNumber" ng-model="vm.order.houseNumber" required>
      <div ng-show="form.$submitted || form.houseNumber.$touched">
        <label ng-show="form.houseNumber.$error.required" class="control-label" for="houseNumber">Numer domu jest wymagany.</label>
      </div>
    </div>
    <div class="form-group">
      <label for="flatNumber">Numer mieszkania:</label>
      <input type="number" id="flatNumber" class="form-control" name="flatNumber" ng-model="vm.order.flatNumber">
    </div>
    <div class="form-group">
      <label for="payment">Typ płatności:</label>
      <select id="payment" class="form-control">
        <option val="onDelivery" selected>Płatność przy odbiorze</option>
      </select>
    </div>
    <input type="submit" ng-click="form.$valid && vm.createOrder()" value="Złóż zamówienie" class="btn btn-success"/>
  </form>
  <br>
</div>
<div class="col-md-6">
  <div ng-if="!vm.cart.length" class="cart-no-items">Pusto tutaj... Dodaj coś do koszyka :)</div>
  <div ng-if="vm.cart.length">
    <div class="cart-item" ng-repeat="product in vm.cart track by $index">
      <div>
        <span class="cart-item-name">{{product.name}}</span>
        <a class="cart-item-delete" ng-click="vm.deleteFromCart(product._id)">&times;</a>
      </div>
      <div>
        <span class="cart-item-desc">{{product.size}}, Ilość: {{product.qty}}</span>
        <span class="cart-item-price">{{ product.qty * product.prices[product.selectedPriceIndex] | currency }}</span>
      </div>
    </div>
    <div class="cart-total">
      <span>Razem: </span>
      <span class="cart-total-price">{{ vm.total(vm.cart) | currency }}</span>
    </div>
  </div>
</div>