<section class="content-header">
    <h1>
        Kategorie
        <small>Możesz tutaj dodawać, edytować, a także usuwać kategorie</small>
    </h1>
</section>
<section class="content" >
    <div class="row">
        <div class="col-xs-12">
            <div class="box" >
                <div class="box-body"><a ui-sref="admin.categoriesAdd" class="btn btn-success">Dodaj kategorię</a>
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Nazwa grupy</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="category in vm.categories">
                            <td>
                                {{category.name}}
                            </td>
                            <td class="text-right">
                                <a ui-sref="admin.categoriesEdit({id: category._id})" class="btn btn-primary glyphicon glyphicon-pencil"></a>
                                <button type="button" class="btn btn-danger glyphicon glyphicon-trash" ng-click="vm.delete(category._id, category.name)"></button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
